@charset "UTF-8";

$modules: () !default;
$rem-base: 16 !default;

@mixin module($name) {
  @if not index($modules, $name) {
    $modules: append($modules, $name) !global;
    @content;
  }
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value)  {
  $value: strip-unit($value) / strip-unit($rem-base) * 1rem;
  @if ($value == 0rem) { $value: 0; }
  @return $value;
}

@function rem($values) {
  $count: length($values);

  @if $count == 1 { @return convert-to-rem(nth($values, 1)); }

  $remValues: ();
  @for $i from 1 through $count {
    $remValues: append($remValues, convert-to-rem(nth($values, $i)));
  }
  @return $remValues;
}

@mixin media($query-id) {
  $check: null;
  @each $mediaquery in $mediaqueries {
    @if nth($mediaquery, 1) == $query-id {
      $check: $query-id;
      @media #{nth($mediaquery, 2)} {
        @content;
      }
    }
  }

  @if not $check { @warn "Mediaquery #{id} is not defined." }
}

@mixin each-media {
  @each $mediaquery in $mediaqueries {
    $query-id: nth($mediaquery, 1);

    @include media($query-id) {
      @content;
    }
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// CSS3 mixins

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
     -moz-transition: $transitions;
          transition: $transitions;
}
