@charset "UTF-8";

@import "functions";

$rem-base: 16 !default;

$primary-color: #1ABC9C !default;
$secondary-color: #BDC3C7 !default;
$success-color: #2ECC71 !default;
$error-color: #E74C3C !default;

$base-line-height: rem(25) !default;

$base-font-size: 100% !default;
$base-font-color: #333333 !default;
$base-font-smoothing: antialiased !default;

$base-border-width: rem(2) !default;
$base-gutter-width: rem(30) !default;
$base-column-count: 12 !default;

$base-radius: 4px !default;

/**
 * Mediaquery collection, used to build responsive features.
 * "small", "medium" and "large" are used by the system, but feel free to add your own rules in between!
 */
$mediaqueries:
  small "only screen",
  medium "only screen and (min-width: #{rem(768)})",
  large "only screen and (min-width: #{rem(1024)})"
  !default;

@import "scaffolding";
