@charset "UTF-8";


$header-margin-bottom: $base-line-height !default;
$header-font-family: Helvetica Neue, Helvetica, sans-serif !default;
$header-text-rendering: optimizeLegibility !default;

$h1-font-size: rem(36) !default;
$h1-line-height: $base-line-height * 2 !default;

$h2-font-size: rem(30) !default;
$h2-line-height: $base-line-height * 1.5 !default;

$h3-font-size: rem(24) !default;
$h3-line-height: $base-line-height !default;

$h4-font-size: rem(16) !default;
$h4-line-height: $base-line-height !default;

$h5-font-size: rem(14) !default;
$h5-line-height: $base-line-height !default;

$h6-font-size: rem(12) !default;
$h6-line-height: $base-line-height !default;


@include module('heading') {
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $header-margin-bottom;
    font-family: $header-font-family;
    text-rendering: $header-text-rendering;
  }

  h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }

  h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
  }

  h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
  }

  h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
  }

  h5 {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
  }

  h6 {
    font-size: $h6-font-size;
    line-height: $h6-line-height;
  }
}
